
/*    MAIN BODY ELEMENTS */
body {
    display: flex;
    justify-content: center;
    background-color: darkorchid;
}

main {
    width: 90%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkseagreen;
}

main h1 {
    font-size: 5em;
}

/*    INVENTORY AND LEFT AND RIGHT HAND */
.taskBar {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: firebrick;
}

.inventory {
    width: 60%;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}

.inventoryDropBox {
    width: 95%;
    height: 150px;
    background-color: white;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.leftHand {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: indigo;
}

.leftHandDropBox {
    width: 95%;
    height: 75px;
    background-color: white;
}

.rightHand {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
}

.rightHandDropBox {
    width: 95%;
    height: 75px;
    background-color: white;
}

/*    THE GAMEBOARD AND THE DROPPABLES */
.boardGame {
    width: 100%;
    height: 500px;
    background-color: forestgreen;
}

.boardForImg {
    max-width: 775px;
    height: 500px;
    background-size: cover;
    margin: 0 auto;
    z-index: -1;
}

.boardForDrops {
    max-width: 775px;
    height: 500px;
    position: relative;
    z-index: 0;
}

.items {
    width: 75px;
    height: 75px;
    position: absolute;
    display: none;
}

#magGlass {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/mag-glass.png');
    background-size: contain;
    background-position: center;
    top: 40px;
    left: 60px;
}

#notebook {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/notebook.png');
    background-size: contain;
    background-position: center;
    top: 200px;
}

#lighter {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/zippo.png');
    background-size: contain;
    background-position: center;
    bottom: 100px;
}

#luckyCoin {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/lucky-coin.png');
    background-size: contain;
    background-position: center;
    right: 0;
    top: 190px;
}

#gun {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/gun.png');
    background-size: contain;
    background-position: center;
    right: 220px;
    top: 70px;
}

#glasses {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/glasses.png');
    background-size: contain;
    background-position: center;
    right: 280px;
    bottom: 160px;

}

#apple {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/apple.png');
    background-size: contain;
    bottom: 120px;
    left: 140px;
}

/*    DIALOG AND OTHER USEFUL THINGS */
.bottomTask {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: gold;
}

.pageButtons {
    width: 15%;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    background-color: lightcoral;
}

.buttons {
    height: 50px;
}

.dialog {
    width: 60%;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
}

.dialogBox {
    width: 95%;
    height: 150px;
    overflow: scroll;
    background-color: white;
    font-size: 1.2em;
}

.notebook {
    display: none;
    width: 25%;
    height: 175px;
    overflow: scroll;
    background-color: purple;
}