
/*    MAIN BODY ELEMENTS */
body {
    display: flex;
    justify-content: center;
    background-color: black;
}

main {
    width: 90%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(160, 201, 66);
    border-radius: 10%;
}

main h1 {
    font-size: 5em;
}

/*    INVENTORY AND LEFT AND RIGHT HAND */
.taskBar {
    width: 100%;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inventory {
    width: 60%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 20px;
}

.inventoryDropBox {
    width: 95%;
    height: 90%;
    background-color: white;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.notebook {
    display: none;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 95%;
    border-radius: 20px;
    background-color: purple;
}

.notebookBox {
    width: 95%;
    height: 90%;
    overflow: scroll;
    background-color: white;
    font-size: 1.2em;
}

/*    THE GAMEBOARD AND THE DROPPABLES */
.boardGame {
    width: 100%;
    height: 450px;
    background-color: rgb(160, 201, 66);
}

.boardForImg {
    max-width: 775px;
    height: 450px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    z-index: -1;
}

.boardForDrops {
    max-width: 775px;
    height: 450px;
    position: relative;
    z-index: 0;
}

#healthDiv {
    display: none;
    text-align: center;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 25px;
    top: 15px;
}

#healthBar {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

progress[value]::-webkit-progress-value {
    box-shadow: 0 2px 5px #460d0dc5 inset;
    background-color: red;
}

progress[value]::-webkit-progress-bar {
    box-shadow: 0 2px 5px #460d0dc5 inset;
    background-color: rgba(0, 0, 0, 0.4);
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 20px;
}

label {
    text-align: center;
    font-size: 1.5em;
    color: rgb(0, 255, 0);
}

.items {
    width: 75px;
    height: 75px;
    position: absolute;
    display: none;
}

#magGlass {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/mag-glass.png');
    background-size: contain;
    background-position: center;
    top: 18px;
    left: 55px;
}

#notebook {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/notebook.png');
    background-size: contain;
    background-position: center;
    top: 178px;
}

#lighter {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/zippo.png');
    background-size: contain;
    background-position: center;
    bottom: 100px;
}

#luckyCoin {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/lucky-coin.png');
    background-size: contain;
    background-position: center;
    right: 38px;
    top: 170px;
}

#gun {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/gun.png');
    background-size: contain;
    background-position: center;
    right: 245px;
    top: 70px;
}

#glasses {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/glasses.png');
    background-size: contain;
    background-position: center;
    right: 280px;
    bottom: 140px;

}

#apple {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/apple.png');
    background-size: contain;
    bottom: 120px;
    left: 140px;
}

.person {
    width: 100px;
    height: 200px;
    position: absolute;
    display: none;
}

#scientist {
    width: 100px;
    height: 200px;
    background-repeat: no-repeat;
    background-image: url('../imgs/scientist.png');
    background-size: contain;
    background-position: center;
    bottom: 0;
    right: 125px;
}

#mercenary {
    width: 100px;
    height: 200px;
    background-repeat: no-repeat;
    background-image: url('../imgs/mercenary.png');
    background-size: contain;
    background-position: center;
    left: 25px;
    bottom: 0;
}

.person2 {
    width: 100px;
    height: 200px;
    position: absolute;
    display: none;
}

#scientist2 {
    width: 100px;
    height: 200px;
    background-repeat: no-repeat;
    background-image: url('../imgs/scientist.png');
    background-size: contain;
    background-position: center;
    bottom: 0;
    right: 125px;
}

#mercenary2 {
    width: 100px;
    height: 200px;
    background-repeat: no-repeat;
    background-image: url('../imgs/mercenary.png');
    background-size: contain;
    background-position: center;
    left: 25px;
    bottom: 0;
}

#drOther {
    width: 100px;
    height: 200px;
    background-repeat: no-repeat;
    background-image: url('../imgs/dr-other.png');
    background-size: contain;
    background-position: center;
    left: 51%;
    bottom: 0;
}

.outsideCave {
    width: 75px;
    height: 75px;
    position: absolute;
    display: none;
}

#rock {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/rock.png');
    background-size: contain;
}

#torch {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/torch.png');
    background-size: contain;
}

.firstFloor {
    width: 75px;
    height: 75px;
    position: absolute;
    display: none;
}

#water {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/water-cup.png');
    background-size: contain;
    bottom: 40%;
    right: 45%;
}

#emptyWater {
    width: 75px;
    height: 75px;
    left: 45%;
    top: 37%;
    background-color: rgba(0, 0, 0, 0.4);
}

.torchUnlit {
    position: absolute;
    display: none;
    width: 75px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.4);
}

#torch1 {
    width: 75px;
    height: 75px;
    top: 30%;
    left: 5%;
}

#torch2 {
    width: 75px;
    height: 75px;
    top: 32%;
    left: 31%;
}

#torch3 {
    width: 75px;
    height: 75px;
    top: 35%;
    right: 20%;
}

#reDo1 {
    width: 75px;
    height: 75px;
    top: 30%;
    left: 5%;
}

#reDo2 {
    width: 75px;
    height: 75px;
    top: 32%;
    left: 31%;
}

#reDo3 {
    width: 75px;
    height: 75px;
    top: 35%;
    right: 20%;
}

.bats {
    display: none;
    width: 775px;
    height: 450px;
    position: absolute;
}

#bat {
    width: 775px;
    height: 450px;
    background-image: url('../imgs/bats.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* FINAL ITEMS */
.elements {
    position: absolute;
    display: none;
    width: 75px;
    height: 75px;
}

#earthId {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/ele-earth.jpg');
    background-size: contain;
    top: 35%;
    left: 26%;
}

#windId {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/ele-wind.jpg');
    background-size: contain;
    top: 43%;
    right: 51%;
}

#fireId {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/ele-fire.jpg');
    background-size: contain;
    top: 35%;
    right: 35%;
}

#waterId {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/ele-water.jpg');
    background-size: contain;
    right: 45%;
    top: 33%;
}

#key {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-image: url('../imgs/final-key.jpeg');
    background-size: contain;
}

.elementsDrop {
    position: absolute;
    display: none;
    width: 75px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.4);
}

#waterDrop {
    width: 75px;
    height: 75px;
    right: 45%;
    top: 33%;
}

#windDrop {
    width: 75px;
    height: 75px;
    top: 43%;
    right: 51%;
}

#fireDrop {
    width: 75px;
    height: 75px;
    top: 35%;
    right: 35%;
}

#earthDrop {
    width: 75px;
    height: 75px;
    top: 35%;
    left: 26%;
}

#keyDrop {
    width: 75px;
    height: 75px;
    top: 41%;
    right: 42%;
}



/*    DIALOG AND OTHER USEFUL THINGS */
.bottomTask {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pageButtons {
    width: 15%;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.buttons {
    height: 50px;
    border-radius: 20px;
}

.dialog {
    width: 80%;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    border-radius: 20px;
}

.dialogBox {
    width: 95%;
    height: 150px;
    overflow: scroll;
    background-color: white;
    font-size: 1.2em;
}

